absl-py==0.8.1
alembic==1.4.2
appdirs==1.4.3
appnope==0.1.0
astor==0.8.0
astroid==2.3.3
attrs==19.3.0
backcall==0.1.0
backend==0.2.4.1
bleach==3.1.0
blinker==1.4
boto==2.49.0
boto3==1.10.46
botocore==1.13.46
cachetools==3.1.1
certifi==2019.9.11
chardet==3.0.4
Click==7.0
cycler==0.10.0
decorator==4.4.1
defusedxml==0.6.0
distlib==0.3.0
dlib==19.19.0
docutils==0.15.2
entrypoints==0.3
face-recognition==1.2.3
face-recognition-models==0.3.0
ffmpeg-python==0.2.0
ffmpy==0.2.2
ffprobe==0.5
filelock==3.0.12
Flask==1.1.1
Flask-Cors==3.0.8
Flask-Login==0.5.0
Flask-Migrate==2.5.3
Flask-SQLAlchemy==2.3.2
flask-sqlalchemy-core==0.1.1
flask-sqlalchemy-raw==0.0.4
Flask-SQLService==0.1.0
Flask-WTF==0.14.3
future==0.18.2
gast==0.2.2
gensim==3.8.1
google-auth==1.6.3
google-auth-oauthlib==0.4.1
google-pasta==0.1.7
graphviz==0.13.2
grpcio==1.24.3
h5py==2.10.0
idna==2.8
imageio==2.6.1
imageio-ffmpeg==0.3.0
importlib-metadata==0.23
imutils==0.5.3
ipykernel==5.1.3
ipython==7.9.0
ipython-genutils==0.2.0
isort==4.3.21
itsdangerous==1.1.0
jedi==0.15.1
jieba==0.41
Jinja2==2.10.3
jmespath==0.9.4
joblib==0.14.0
json5==0.8.5
jsonschema==3.1.1
jupyter-client==5.3.4
jupyter-core==4.6.1
jupyterlab==1.2.0
jupyterlab-server==1.0.6
jupyterthemes==0.20.0
Keras==2.3.1
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
kiwisolver==1.1.0
lazy-object-proxy==1.4.3
lesscpy==0.13.0
lightgbm==2.3.2
Mako==1.1.2
Markdown==3.1.1
MarkupSafe==1.1.1
matplotlib==3.1.0
mccabe==0.6.1
migrate==0.3.8
mistune==0.8.4
mock==3.0.5
more-itertools==7.2.0
moviepy==1.0.1
mpmath==1.1.0
nbconvert==5.6.1
nbformat==4.4.0
nose==1.3.0
notebook==6.0.1
numpy==1.16.4
oauthlib==3.1.0
objgraph==3.4.1
opencv-python==4.1.2.30
opt-einsum==3.1.0
paddlepaddle-tiny==1.6.1
pampy==0.3.0
pandas==1.0.1
pandocfilters==1.4.2
parso==0.5.1
passlib==1.7.2
pexpect==4.7.0
pickleshare==0.7.5
Pillow==7.0.0
ply==3.11
proglog==0.1.9
prometheus-client==0.7.1
prompt-toolkit==2.0.10
protobuf==3.10.0
ptyprocess==0.6.0
pyasn1==0.4.7
pyasn1-modules==0.2.7
pydub==0.23.1
Pygments==2.4.2
pylint==2.4.4
PyMySQL==0.9.3
pyparsing==2.4.0
pyrsistent==0.15.5
python-dateutil==2.8.0
python-editor==1.0.4
pytz==2019.3
PyYAML==5.1.2
pyzmq==19.0.0
requests==2.22.0
requests-oauthlib==1.2.0
rsa==4.0
s3transfer==0.2.1
scikit-learn==0.21.3
scipy==1.3.0
seaborn==0.9.0
Send2Trash==1.5.0
six==1.12.0
sklearn==0.0
smart-open==1.9.0
some-package==0.1
SQLAlchemy==1.3.3
sqlservice==1.2.1
sympy==1.4
syspy==0.2
tensorboard==1.13.1
tensorflow==1.13.1
tensorflow-estimator==1.13.0
termcolor==1.1.0
terminado==0.8.2
testpath==0.4.2
tornado==6.0.3
tqdm==4.41.1
traitlets==4.3.3
typed-ast==1.4.0
urllib3==1.25.6
utils-flask-sqlalchemy==0.1.0
virtualenv==20.0.13
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==0.15.3
wrapt==1.11.1
WTForms==2.2.1
xgboost==0.90
xlrd==1.2.0
xlwt==1.3.0
youtube-dl==2020.3.8
zipp==0.6.0