<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>进出数量统计</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='bootstrap/dist/css/bootstrap.min.css') }}">
    <script src="/static/echarts/echarts.min.js"></script>
</head>


<body>
 <div id="chart-container" style="width: 900px;height:600px;"></div>
<script>
    var dom = document.getElementById('chart-container');
var myChart = echarts.init(dom, null, {
  renderer: 'canvas',
  useDirtyRect: false
});
var app = {};

var option;

option = {
  title: {
    text: 'Statistics of entering and leaving the dormitory',
    subtext: 'A Week Data',
    left: 'center'
  },
  tooltip: {
    trigger: 'item'
  },
  legend: {
    orient: 'vertical',
    left: 'left'
  },
  series: [
    {
      name: 'Access From',
      type: 'pie',
      radius: '50%',
      data: [
        { value: 148, name: 'Tom' },
        { value: 35, name: 'David' },
        { value: 78, name: 'jerry' },
        { value: 84, name: 'Ads' },
      ],
      emphasis: {
        itemStyle: {
          shadowBlur: 10,
          shadowOffsetX: 0,
          shadowColor: 'rgba(0, 0, 0, 0.5)'
        }
      }
    }
  ]
};

if (option && typeof option === 'object') {
  myChart.setOption(option);
}

window.addEventListener('resize', myChart.resize);
</script>
<style>
    * {
  margin: 0;
  padding: 0;
}
#chart-container {
  position: relative;
  height: 100vh;
  overflow: hidden;
}
</style>

</body>
</html>

