<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>花草世界</title>
    <link rel="stylesheet" href="{{url_for('static',filename='bootstrap/dist/css/bootstrap.css')}}">
</head>
<body>
<form>
      <form>
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">花草世界</h3>
            </div>
            <div class="panel-body" style="text-align:center;">
                <div class="form-horizontal">

                    <div class="form-group col-md-offset-4">
                        <label class="col-md-2 col-md-offset-3" style="text-align:right; font-size:18px;"></label>
                        <div class="col-md-2">
                            <img src={{ plant.plantpic }}  class="img-circle" alt="宠物头像">
                        </div>
                    </div>

                    <div class="form-group col-md-offset-4">
                        <label class="col-md-2 col-md-offset-3" style="text-align:right; font-size:18px;">花草</label>
                        <div class="col-md-2">
                            <div class="form-control col-md-2">
                                {{ plant.plantname }}
                            </div>
                        </div>
                    </div>


                    <div class="form-group col-md-offset-4">
                        <label class="col-md-2 col-md-offset-3" style="text-align:right; font-size:18px;">上次浇水时间</label>
                        <div class="col-md-2">
                            <div class="form-control col-md-2">
                                {{ plant.watertime}}
                            </div>
                        </div>
                    </div>

                    <div class="form-group col-md-offset-4">
                        <label class="col-md-2 col-md-offset-3" style="text-align:right; font-size:18px;">浇水间隔</label>
                        <div class="col-md-2">
                            <div class="form-control col-md-2">
                                {{ plant.waterinterval }}h
                            </div>
                        </div>
                    </div>

                    <div class="form-group col-md-offset-4">
                        <label class="col-md-2 col-md-offset-3" style="text-align:right; font-size:18px;">缺水情况</label>
                        <div class="col-md-2">
                            <div class="form-control col-md-2" name="starvation">
                                {{ plant.water }}
                            </div>
                        </div>
                    </div>

                    <form action="/smartroom/roomworld" method="post" class="form-group col-md-offset-4" >

                        <div class="col-md-2" style="text-align: center;margin-left:630px;font-size: 8px">
                            <button formaction="/smartroom/roomworld" formmethod="post" class="form-control col-md-2 btn btn-default" style="text-align: center;color: black;background-color: #00ad9c">
                               浇水
                            </button>
                        </div>
                    </form>



                </div>
            </div>
        </div>
    </form>

</form>
</body>
</html>