<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>入侵检测</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='bootstrap/dist/css/bootstrap.min.css') }}">
</head>


<body>
<h1>
    photo page
</h1>
<form action="" method="post">
    <div class="panel panel-primary">
        <select name="photo_path">
            <option value="1">test1</option>
            <option value="2">test5</option>
            <option value="3">test6</option>
            <option value="4">test8</option>
        </select>

        <div class="row">
            <input type="submit" value="确认选择" class="btn btn-info"/>
        </div>
    </div>
</form>

</body>

</html>

