{% include 'top.html' %}
{% include 'left.html' %}
<!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
{#    <section class="content-header">#}
{#      <h1>#}
{#        智能分析#}
{#        <small>基于智能化宿舍大数据分析</small>#}
{#      </h1>#}
{#    </section>#}

    <!-- Main content -->
    <section class="content">
        <iframe id="menuFrame" name="menuFrame" src="smartroom/mainView" style="overflow:visible;"
                scrolling="auto"
                frameborder="no" height="100%" width="100%">
        </iframe>
    </section>
  </div>
  <!-- /.content-wrapper -->
{% include 'footer.html' %}
{#<script src="{{ url_for('static',filename='echarts/echarts.js') }}"></script>#}
{#<script src="{{ url_for('static',filename='echarts/china.js') }}"></script>#}
{#<script src="{{ url_for('static',filename='echarts/chartsdata.js') }}"></script>#}

<script>
    $("#menuFrame").height(window.innerHeight-90);
</script>