<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar" style="background-color: #005555">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar"  style="background-color: #005555">
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu" data-widget="tree">
{#==========================================================================================================================================#}

{#            <li class="treeview">#}
{#                <a href="#">#}
{#                    <i class="glyphicon glyphicon-facetime-video"></i>#}
{#                    <span>寝室管控</span>#}
{#                    <span class="pull-right-container">#}
{#                  <i class="fa fa-angle-left pull-right"></i>#}
{#                  </span>#}
{#                </a>#}
{##}
{##}
{##}
{##}
{##}
{#                <ul class="treeview-menu">#}
{#                    <li><a href="smartroom/roommoniter"><i class="	glyphicon glyphicon-eye-open"></i> 寝室监控</a></li>#}
{#                    <li><a href="#"><i class="	glyphicon glyphicon-film"></i></a></li>#}
{#                </ul>#}
{#            </li>#}
            <li class="treeview">
                <a href="#">
                    <i class="glyphicon glyphicon-facetime-video"></i>
                    <span>寝室管控</span>
                    <span class="pull-right-container">
                  <i class="fa fa-angle-left pull-right"></i>
                  </span>
                </a>

                <ul class="treeview-menu">
                    <li><a href="smartroom/roommoniter" target="menuFrame"><i class="glyphicon glyphicon-eye-open"></i> 寝室监控</a></li>
                    <li><a href="smartroom/roomphoto" target="menuFrame"><i class="glyphicon glyphicon-eye-open"></i> 入侵检测</a></li>

{#                    <li><a href="smartroom/roomworld" target="menuFrame"><i class="glyphicon glyphicon-leaf"></i> 花草世界</a></li>#}
                </ul>
            </li>


{#==========================================================================================================================================#}

            <li class="treeview">
                <a href="#">
                    <i class="glyphicon glyphicon-home"></i>
                    <span>寝室世界</span>
                    <span class="pull-right-container">
                  <i class="fa fa-angle-left pull-right"></i>
                  </span>
                </a>

                <ul class="treeview-menu">
                    <li><a href="smartroom/targets" target="menuFrame"><i class="glyphicon glyphicon-pushpin"></i> 个人空间</a></li>
{#                    <li><a href="smartroom/targetsplus" target="menuFrame"><i class="glyphicon glyphicon-pushpin"></i> 个人空间plus</a></li>#}
                    <li><a href="smartroom/roomcheck" target="menuFrame"><i class="glyphicon glyphicon-wrench"></i> 寝室维修</a></li>
                    <li><a href="smartroom/roommoney" target="menuFrame"><i class="glyphicon glyphicon-flash"></i> 水电缴费</a></li>
{#                      <li><a href="smartroom/roommoniter"><i class="	glyphicon glyphicon-eye-open"></i> 寝室监控</a></li>#}
{#                    <li><a href="smartroom/roommoniter" target="menuFrame"><i class="glyphicon glyphicon-heart"></i> 宠物喂养</a></li>#}
{#                    <li><a href="smartroom/roomworld" target="menuFrame"><i class="glyphicon glyphicon-leaf"></i> 花草世界</a></li>#}
                </ul>
            </li>

{#==========================================================================================================================================#}


             <li class="treeview">
                <a href="#">
                    <i class="glyphicon glyphicon-heart"></i>
                    <span>数据管理中心</span>
                    <span class="pull-right-container">
                  <i class="fa fa-angle-left pull-right"></i>
                  </span>
                </a>

                <ul class="treeview-menu">
                    <li><a href="smartroom/human" target="menuFrame"><i class="glyphicon glyphicon-zoom-in"></i> 出入监测</a></li>
                    <li><a href="smartroom/humidity" target="menuFrame"><i class="glyphicon glyphicon-pencil"></i> 湿度监测</a></li>
                    <li><a href="smartroom/temperature" target="menuFrame"><i class="glyphicon glyphicon-usd"></i> 温度监测</a></li>
                </ul>
            </li>

            <li class="treeview">
                <a href="#">
                    <i class="glyphicon glyphicon-user"></i>
                    <span>个人中心</span>
                    <span class="pull-right-container">
                  <i class="fa fa-angle-left pull-right"></i>
                  </span>
                </a>

                <ul class="treeview-menu">
                    <li><a href="myinfo/myselect" target="menuFrame"><i class="glyphicon glyphicon-zoom-in"></i> 信息查询</a></li>
                    <li><a href="myinfo/myupdate" target="menuFrame"><i class="glyphicon glyphicon-pencil"></i> 信息修改</a></li>
                    <li><a href="myinfo/mymoney" target="menuFrame"><i class="glyphicon glyphicon-usd"></i> 我的账单</a></li>
                </ul>
            </li>

        </ul>
    </section>
</aside>